@media only screen and (max-width: 768px) {
    
    .logo-web{
      width: 120%;
      max-width: none;
      height: auto;
    }

    .banner1 img {
      width: 100%;
      max-width: none;
      height: auto;
      animation: animate__fadeIn;
      animation-duration: 2s; 
    }
  
    .seccion-categoria{
      gap: 3px;

    }

    .menufooter {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .col-md-2 {
      margin-bottom: 20px;
    }

    }


  @media only screen and (max-width: 480px) {
    
    .logo{
      width: 120%;
      max-width: none;
      height: auto;
    }

    .banner1 img{
      width: 100%;
      max-width: none;
      height: auto;
      animation: animate__fadeIn;
      animation-duration: 2s; 
    }
     
    .seccion-categoria{
      gap: 3px;
    }

    .menufooter {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .col-md-2 {
      margin-bottom: 20px;
    }

  }