@import "_reset";

@import "_header";

.banner1 img{
  width: 100%;
  max-width: none;
  height: auto;
  animation: animate__fadeIn;
  animation-duration: 2s; 
  
  }

.titulo-principal {
    justify-content: center;
    text-align:center;
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .seccion-categoria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    text-align: center;
  
    .categoria {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-items: center;
        padding: 10px;
        }

        .categoria:hover {
            color: $primary-color;
              
            }

            .categoria-icon {
                width: 170px; 
                height: 170px; 
                border-radius: 50%; 
                overflow: hidden; 
                margin-bottom: 0; 
              }
              
                .categoria-icon img {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
                border-radius: 50%;
                border: 4px solid $primary-color;
                
                }

                    .categoria-icon img:hover {
                    border: 5px solid #d8d8d8;

                    }

  }

  .h2 {
    padding-bottom: 50px;
    padding-top: 20px;
    text-align: left;
    padding-left: 20%;
    font-size: 28px;
      
  }
  
.destacados{
padding-left: 20%;
padding-right: 20%;
padding-bottom: 60px;

.producto {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .producto img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    object-fit: cover;
    border: 1px solid #ddd; 
    border-radius: 5px; 
  
  }
  
  .producto img:hover {
    box-shadow:  6px -6px 9px rgba(0,0,0,0.3);
    transform: translateY(-5px) ;
    transition:.3s ease all;
  }

  .titulo-producto {
    margin-top: 10px;
  }
  
  .boton {
    background-color: $secundary-color;
    border: none;
  }
  
  .boton:hover {
    background-color: $primary-color;
    border: none;
  }

  .Oferta{
    color: red !important; 
    font-size: 25px;
    font-weight: bold;
  }

  }

  @import "_responsive";

  @import "_footer";